<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eb8dda">  <td>23/09/12 08:23:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Add_to_cart.afterMethod()[pri:0, instance:TestCases.Add_to_cart@1c852c0f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@447767121</td>   <td></td> </tr>
<tr bgcolor="eb8dda">  <td>23/09/12 08:22:54</td>   <td>-40812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_to_cart.f(java.lang.String,java.lang.String)[pri:0, instance:TestCases.Add_to_cart@1c852c0f]">f</td> 
  <td>main@447767121</td>   <td></td> </tr>
<tr bgcolor="eb8dda">  <td>23/09/12 08:22:54</td>   <td>-40819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Add_to_cart.beforeMethod()[pri:0, instance:TestCases.Add_to_cart@1c852c0f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@447767121</td>   <td></td> </tr>
</table>
