<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ae7dc0">  <td>23/08/24 13:51:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;pom1.afterClass()[pri:0, instance:pageobjectmodel.pom1@72c8e7b]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="ae7dc0">  <td>23/08/24 13:51:54</td>   <td>-1001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;pom1.afterMethod()[pri:0, instance:pageobjectmodel.pom1@72c8e7b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="ae7dc0">  <td>23/08/24 13:51:54</td>   <td>-1001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;pom1.afterMethod()[pri:0, instance:pageobjectmodel.pom1@72c8e7b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="ae7dc0">  <td>23/08/24 13:51:55</td>   <td>27</td> <td title="&lt;&lt;pom1.afterSuite()[pri:0, instance:pageobjectmodel.pom1@72c8e7b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="ae7dc0">  <td>23/08/24 13:51:55</td>   <td>3</td> <td>&nbsp;</td><td title="&lt;&lt;pom1.afterTest()[pri:0, instance:pageobjectmodel.pom1@72c8e7b]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="ae7dc0">  <td>23/08/24 13:50:33</td>   <td>-82295</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;pom1.beforeClass()[pri:0, instance:pageobjectmodel.pom1@72c8e7b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="ae7dc0">  <td>23/08/24 13:51:14</td>   <td>-40921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;pom1.beforeMethod()[pri:0, instance:pageobjectmodel.pom1@72c8e7b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="ae7dc0">  <td>23/08/24 13:51:14</td>   <td>-40921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;pom1.beforeMethod()[pri:0, instance:pageobjectmodel.pom1@72c8e7b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="ae7dc0">  <td>23/08/24 13:50:33</td>   <td>-82332</td> <td title="&gt;&gt;pom1.beforeSuite()[pri:0, instance:pageobjectmodel.pom1@72c8e7b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="ae7dc0">  <td>23/08/24 13:50:33</td>   <td>-82315</td> <td>&nbsp;</td><td title="&gt;&gt;pom1.beforeTest()[pri:0, instance:pageobjectmodel.pom1@72c8e7b]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="ae7dc0">  <td>23/08/24 13:51:16</td>   <td>-39512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="pom1.register(java.lang.String,java.lang.String)[pri:0, instance:pageobjectmodel.pom1@72c8e7b]">register</td> 
  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="ae7dc0">  <td>23/08/24 13:51:16</td>   <td>-39512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="pom1.register(java.lang.String,java.lang.String)[pri:0, instance:pageobjectmodel.pom1@72c8e7b]">register</td> 
  <td>main@1424110445</td>   <td></td> </tr>
</table>
