<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8c98f8">  <td>23/08/24 11:44:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;datadriven_pagefactory.beforeMethod()[pri:0, instance:webdriverassignment.datadriven_pagefactory@194fad1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>23/08/24 11:44:07</td>   <td>1766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="datadriven_pagefactory.login(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:webdriverassignment.datadriven_pagefactory@194fad1]">login</td> 
  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>23/08/24 11:44:28</td>   <td>22779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;datadriven_pagefactory.afterMethod()[pri:0, instance:webdriverassignment.datadriven_pagefactory@194fad1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>23/08/24 11:44:28</td>   <td>22779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;datadriven_pagefactory.afterMethod()[pri:0, instance:webdriverassignment.datadriven_pagefactory@194fad1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>23/08/24 11:44:28</td>   <td>22779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;datadriven_pagefactory.afterMethod()[pri:0, instance:webdriverassignment.datadriven_pagefactory@194fad1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>23/08/24 11:43:17</td>   <td>-48406</td> <td title="&gt;&gt;datadriven_pagefactory.reports()[pri:0, instance:webdriverassignment.datadriven_pagefactory@194fad1]">&gt;&gt;reports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>23/08/24 11:44:07</td>   <td>1766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="datadriven_pagefactory.login(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:webdriverassignment.datadriven_pagefactory@194fad1]">login</td> 
  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>23/08/24 11:44:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;datadriven_pagefactory.beforeMethod()[pri:0, instance:webdriverassignment.datadriven_pagefactory@194fad1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>23/08/24 11:44:07</td>   <td>1766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="datadriven_pagefactory.login(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:webdriverassignment.datadriven_pagefactory@194fad1]">login</td> 
  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>23/08/24 11:44:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;datadriven_pagefactory.beforeMethod()[pri:0, instance:webdriverassignment.datadriven_pagefactory@194fad1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>23/08/24 11:44:07</td>   <td>1766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="datadriven_pagefactory.login(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:webdriverassignment.datadriven_pagefactory@194fad1]">login</td> 
  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>23/08/24 11:44:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;datadriven_pagefactory.beforeMethod()[pri:0, instance:webdriverassignment.datadriven_pagefactory@194fad1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>23/08/24 11:44:28</td>   <td>22779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;datadriven_pagefactory.afterMethod()[pri:0, instance:webdriverassignment.datadriven_pagefactory@194fad1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1424110445</td>   <td></td> </tr>
</table>
