<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="df9b86">  <td>23/08/29 08:25:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Selenium_assessment.afterClass()[pri:0, instance:selenium.Selenium_assessment@7ce69770]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@477376212</td>   <td></td> </tr>
<tr bgcolor="df9b86">  <td>23/08/29 08:25:02</td>   <td>-236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Selenium_assessment.afterMethod()[pri:0, instance:selenium.Selenium_assessment@7ce69770]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@477376212</td>   <td></td> </tr>
<tr bgcolor="df9b86">  <td>23/08/29 08:25:02</td>   <td>-236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Selenium_assessment.afterMethod()[pri:0, instance:selenium.Selenium_assessment@7ce69770]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@477376212</td>   <td></td> </tr>
<tr bgcolor="df9b86">  <td>23/08/29 08:25:03</td>   <td>56</td> <td title="&lt;&lt;Selenium_assessment.afterSuite()[pri:0, instance:selenium.Selenium_assessment@7ce69770]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@477376212</td>   <td></td> </tr>
<tr bgcolor="df9b86">  <td>23/08/29 08:25:03</td>   <td>3</td> <td>&nbsp;</td><td title="&lt;&lt;Selenium_assessment.afterTest()[pri:0, instance:selenium.Selenium_assessment@7ce69770]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@477376212</td>   <td></td> </tr>
<tr bgcolor="df9b86">  <td>23/08/29 08:24:30</td>   <td>-33027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Selenium_assessment.assessment(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:selenium.Selenium_assessment@7ce69770]">assessment</td> 
  <td>main@477376212</td>   <td></td> </tr>
<tr bgcolor="df9b86">  <td>23/08/29 08:24:30</td>   <td>-33027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Selenium_assessment.assessment(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:selenium.Selenium_assessment@7ce69770]">assessment</td> 
  <td>main@477376212</td>   <td></td> </tr>
<tr bgcolor="df9b86">  <td>23/08/29 08:23:41</td>   <td>-81341</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Selenium_assessment.beforeClass()[pri:0, instance:selenium.Selenium_assessment@7ce69770]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@477376212</td>   <td></td> </tr>
<tr bgcolor="df9b86">  <td>23/08/29 08:24:28</td>   <td>-34442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Selenium_assessment.beforeMethod()[pri:0, instance:selenium.Selenium_assessment@7ce69770]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@477376212</td>   <td></td> </tr>
<tr bgcolor="df9b86">  <td>23/08/29 08:24:28</td>   <td>-34442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Selenium_assessment.beforeMethod()[pri:0, instance:selenium.Selenium_assessment@7ce69770]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@477376212</td>   <td></td> </tr>
<tr bgcolor="df9b86">  <td>23/08/29 08:23:41</td>   <td>-81811</td> <td title="&gt;&gt;Selenium_assessment.beforeSuite()[pri:0, instance:selenium.Selenium_assessment@7ce69770]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@477376212</td>   <td></td> </tr>
<tr bgcolor="df9b86">  <td>23/08/29 08:23:41</td>   <td>-81362</td> <td>&nbsp;</td><td title="&gt;&gt;Selenium_assessment.beforeTest()[pri:0, instance:selenium.Selenium_assessment@7ce69770]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@477376212</td>   <td></td> </tr>
</table>
