<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bec8e">  <td>23/08/28 09:39:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="orangehrmlive.invalidpass()[pri:4, instance:selenium_advanced.orangehrmlive@58cbafc2]">invalidpass</td> 
  <td>main@1038677529</td>   <td></td> </tr>
<tr bgcolor="9bec8e">  <td>23/08/28 09:39:26</td>   <td>-24210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="orangehrmlive.blankuser()[pri:1, instance:selenium_advanced.orangehrmlive@58cbafc2]">blankuser</td> 
  <td>main@1038677529</td>   <td></td> </tr>
<tr bgcolor="9bec8e">  <td>23/08/28 09:39:15</td>   <td>-35411</td> <td>&nbsp;</td><td title="&gt;&gt;orangehrmlive.beforeTest()[pri:0, instance:selenium_advanced.orangehrmlive@58cbafc2]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1038677529</td>   <td></td> </tr>
<tr bgcolor="9bec8e">  <td>23/08/28 09:39:59</td>   <td>8774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="orangehrmlive.validuserpass()[pri:5, instance:selenium_advanced.orangehrmlive@58cbafc2]">validuserpass</td> 
  <td>main@1038677529</td>   <td></td> </tr>
<tr bgcolor="9bec8e">  <td>23/08/28 09:40:21</td>   <td>31037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="orangehrmlive.addemployee()[pri:7, instance:selenium_advanced.orangehrmlive@58cbafc2]">addemployee</td> 
  <td>main@1038677529</td>   <td></td> </tr>
<tr bgcolor="9bec8e">  <td>23/08/28 09:39:35</td>   <td>-15350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="orangehrmlive.blankpass()[pri:2, instance:selenium_advanced.orangehrmlive@58cbafc2]">blankpass</td> 
  <td>main@1038677529</td>   <td></td> </tr>
<tr bgcolor="9bec8e">  <td>23/08/28 09:39:42</td>   <td>-8682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="orangehrmlive.invaliduser()[pri:3, instance:selenium_advanced.orangehrmlive@58cbafc2]">invaliduser</td> 
  <td>main@1038677529</td>   <td></td> </tr>
<tr bgcolor="9bec8e">  <td>23/08/28 09:40:09</td>   <td>18534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="orangehrmlive.logout()[pri:6, instance:selenium_advanced.orangehrmlive@58cbafc2]">logout</td> 
  <td>main@1038677529</td>   <td></td> </tr>
<tr bgcolor="9bec8e">  <td>23/08/28 09:40:24</td>   <td>33693</td> <td>&nbsp;</td><td title="&lt;&lt;orangehrmlive.afterTest()[pri:0, instance:selenium_advanced.orangehrmlive@58cbafc2]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1038677529</td>   <td></td> </tr>
</table>
